<!DOCTYPE html>
<html>

<head>
    <title>Draw on Video</title>
    <!-- <P id="images"><embed src="/media/image/images.txt"> </P>
    <P id="audio"><embed src="/media/audio/audio.txt"> </P>
    <P id="video"><embed src="/media/video/videos.txt"> </P> -->

    </P>
    <!-- <style>
        canvas,
        
        #video {
            position: absolute;
        }

        #toolbox {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 5px;
        }
    </style> -->
</head>

<link rel="stylesheet" href="styling.css" />

<body>
    <video id="video" autoplay playsinline style="display: none;"></video>

    <canvas id="videoCanvas"></canvas>
    <canvas id="mediaCanvasFloat"></canvas>
    <canvas id="drawCanvas" style="cursor: crosshair;"></canvas>
    <canvas id="eraseCanvas" style="display: none;"></canvas>
    <canvas id="textCanvas" style="display: none;"></canvas>
    <canvas id="mediaCanvas" style="display: none;"></canvas>


    <div id="toolbox">
        <button id="clear">Clear</button>
        <button id="saveCanvas">Save Drawing</button>
        <button id="saveScreenshot">Save Screenshot</button><br />

        <p>Mouse Position: <span id="coordinates">0, 0</span></p>
        <p>Mouse Down Position: <span id="coordinates2">0, 0</span></p>

        <label for="mode">Mode: </label>
        <select id="mode">
            <option value="draw">Draw</option>
            <option value="erase">Erase</option>
            <option value="text">Text</option>
            <option value="addMedia">Add Media</option>
            <option value="editLiveVideo">Edit Live Video</option>
        </select><br />

        <div id="ColorEditor">
            <label for="color">Color: </label>
            <input type="color" id="color-picker" value="#ff0000"><br />
        </div>

        <div id="StrokeSizeEditor">
            <label for="stroke-size">Stroke size: </label>
            <input type="range" id="stroke-size" min="1" max="50" value="5"><br />
        </div>

        <div id="TextEditor" style="display: none;">
            <div>
                <label for="textInput">Text: </label>
                <input type="text" id="textInput" maxlength="100" placeholder="Enter text"><br />
            </div>

            <div>
                <label for="fontSelector">Font Style: </label>
                <select id="fontSelector">
                    <option value="Arial">Arial</option>
                    <option value="Verdana">Verdana</option>
                    <option value="Times New Roman">Times New Roman</option>
                    <!-- Add other fonts as desired -->
                </select>
            </div>

            <div>
                <label for="fontType">Font Type: </label>
                <select id="fontType">
                    <option value="normal">Regular</option>
                    <option value="bold">Bold</option>
                    <option value="italic">Italic</option>
                    <option value="italic bold">Bold & Italic</option>
                    <!-- Add other fonts as desired -->
                </select>
            </div>

            <div>
                <label for="fontSize">Font Size: </label>
                <select id="fontSize">
                    <option value="28">28</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="20">20</option>
                    <option value="24">24</option>
                    <option value="32">32</option>
                    <option value="48">48</option>
                    <option value="64">64</option>
                    <!-- Add other sizes as desired -->
                </select>
            </div>

            <div style=" display: flex; padding: 5px;">
                <label>Angle:</label>
                <input id="textAngleSlider" type="range" min="-180" max="180" value="0">
                <textarea id="textAngleValue">0</textarea>°
            </div>
        </div>

        <div id="mediaContainer" style="display: none;">
            <div>
                <label>Mode:</label>
                <input type="radio" name="mediaMode" id="library"> Library
                <input type="radio" name="mediaMode" id="search" checked> Search
            </div>

            <div id="mediaTabs">
                Mode: <text id="mediaSearchType">Image</text>
                <button class="mediaTab active" data-tab="image" id="imageBtn">Image</button>
                <button class="mediaTab" data-tab="audio" id="audioBtn">Audio</button>
                <button class="mediaTab" data-tab="video" id="videoBtn">Video</button>
            </div>

            <div id="searchBarDiv" style="display: flex; align-items: center;">
                <span class="searchIcon">&#128269;</span>
                <input id="searchBar" type="text" placeholder="Search...">
                <button id="goButton" class="searchbtn" style="padding: 3px;
                margin: 3px;">Go</button>
                <button id="removeButton" class="searchbtn" style="display: none; padding: 3px;
                margin: 3px;">Delete</button>
            </div>

            <!-- <div > -->

            <div id="mediaDisplay">
                <div id="mediaList">

                </div>
            </div>

            <!-- </div> -->
            <div class="mediaSettings" id="audioVideoSettings" style="display: none;">
                <audio id="base_audio" controls>
                    <source src="./media/audio/Android-meme-djlunatique.com.mp3">
                    <!-- <source src="./media/audio/" type="audio/mpeg"> -->
                    Your browser does not support the audio element.
                </audio>
                <div style="display: none;">
                    <label>Volume:</label> <input id="volumeSlider" type="range" min="0" max="100" value="50"><textarea
                        id="volumeValue">50</textarea>dB%<br>
                </div>
                <label>Start:</label> <input id="mediaStart" type="range" min="0" max="100" value="5"
                    placeholder="start time"><text id="mediaStartValue">0</text>%<br>
                <label>Stop:</label> <input id="mediaStop" type="range" min="0" max="100" value="95"
                    placeholder="end time"><text id="mediaStopValue">0</text> %<br>
                <!-- <input type="checkbox" id="medialoop"> <label for="loop" checked>Loop</label> -->
            </div>

            <div class="mediaSettings" id="imageSettings">
                <div style="display: flex;">
                    <label>Size:</label>
                    <input id="sizeSlider" type="range" min="10" max="100" value="25">
                    <textarea id="sizeValue">25</textarea>%
                </div>
                <div style="display: flex;">
                    <label>Angle:</label>
                    <input id="angleSlider" type="range" min="-180" max="180" value="0">
                    <textarea id="angleValue">0</textarea>°
                </div>
                <div id="timeDiv" style="display: flex;">
                    <label>Time: </label>
                    <input id="timeValue"></input> Seconds
                </div>
            </div>

            <div>
                <button id="doneBtn">Done</button>
                <button id="libraryBtn">Add to Library</button>
                <button id="sendBtn">Send</button>
            </div>
        </div>
    </div>


    <script src="draw.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        // var socket = io();
    </script>
    <div id="base_video_div">
        <video id="base_video"></video>
        <!-- <audio id="base_audio" controls>
            <source src="./media/audio/Android-meme-djlunatique.com.mp3">
             <source src="./media/audio/" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> -->
        <!-- <video id="base_video" src="./media/video/testdummy.mp4"></video> -->
    </div>
</body>

</html>