<!DOCTYPE html>
<html>

<head>
    <title>Draw on Video</title>
    <!-- <P id="images"><embed src="/media/image/images.txt"> </P>
    <P id="audio"><embed src="/media/audio/audio.txt"> </P>
    <P id="video"><embed src="/media/video/videos.txt"> </P> -->

    </P>
    <style>
        canvas,
        video {
            position: absolute;
        }

        #toolbox {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <video id="video" autoplay playsinline style="display: none;"></video>

    <canvas id="videoCanvas"></canvas>
    <canvas id="canvas" style="cursor: crosshair;"></canvas>
    <canvas id="canvasHUD" style="display: none;"></canvas>
    <canvas id="textCanvas" style="display: none;"></canvas>
    <canvas id="mediaCanvas" style="display: none;"></canvas>


    <div id="toolbox" style="background-color:lightcyan">
        <button id="clear">Clear</button>
        <button id="saveCanvas">Save Drawing</button>
        <button id="saveScreenshot">Save Screenshot</button><br />

        <p>Mouse Position: <span id="coordinates">0, 0</span></p>

        <label for="mode">Mode: </label>
        <select id="mode">
            <option value="draw">Draw</option>
            <option value="erase">Erase</option>
            <option value="text">Text</option>
            <option value="addMedia">Add Media</option>
            <option value="editLiveVideo">Edit Live Video</option>
        </select><br />

        <div id="ColorEditor">
            <label for="color">Color: </label>
            <input type="color" id="color-picker" value="#ff0000"><br />
        </div>

        <div id="StrokeSizeEditor">
            <label for="stroke-size">Stroke size: </label>
            <input type="range" id="stroke-size" min="1" max="50" value="5"><br />
        </div>

        <div id="TextEditor" style="display: none;">
            <label for="textInput">Text: </label>
            <input type="text" id="textInput" maxlength="100" placeholder="Enter text"><br />

            <label for="fontSelector">Font Style: </label>
            <select id="fontSelector">
                <option value="Arial">Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Times New Roman">Times New Roman</option>
                <!-- Add other fonts as desired -->
            </select>

             <label for="fontType">Font Type: </label>
            <select id="fontType">
                <option value="normal">Regular</option>
                <option value="bold">Bold</option>
                <option value="italic">Italic</option>
                <option value="italic bold">Bold & Italic</option>
            <!-- Add other fonts as desired -->
            </select> 

            <label for="fontSize">Font Size: </label>
            <select id="fontSize">
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="20">20</option>
                <option value="24">24</option>
                <option value="32">32</option>
                <option value="48">48</option>
                <option value="64">64</option>
                <!-- Add other sizes as desired -->
            </select>
        </div>

        <div id="mediaContainer" style="display: none;">
            <label>Mode:</label>
            <input type="radio" name="mediaMode" id="library"> Library
            <input type="radio" name="mediaMode" id="search" checked> Search

            <div id="mediaTabs">
                <button class="mediaTab active" data-tab="image">Image</button>
                <button class="mediaTab" data-tab="audio">Audio</button>
                <button class="mediaTab" data-tab="video">Video</button>
            </div>

            <div>
                <span class="searchIcon">&#128269;</span>
                <input id="searchBar" type="text" placeholder="Search...">
                <button id="goButton" class="searchbtn">Go</button>
            </div>

            <div id="mediaDisplay" style="height: 200px; background-color: lightgrey;">
                <li id="mediaList">

                </li>
            </div>

            <div class="mediaSettings" id="imageSettings">
                <label>Size:</label> <input type="range"><br>
                <label>Angle:</label> <input type="range">
            </div>

            <div class="mediaSettings" id="audioVideoSettings" style="display: none;">
                <label>Volume:</label> <input type="range"><br>
                <label>Duration:</label> <input type="range"><br>
                <input type="text" placeholder="Time"> <input type="checkbox" id="loop"> <label for="loop">Loop</label>
            </div>

            <button>Done</button>
        </div>
    </div>

    <script src="draw.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        // var socket = io();
    </script>
</body>

</html>