#mediaContainer {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}

#mediaContainer>div[style*="lightgrey"] {
    overflow-y: auto;
}

.searchIcon {
    display: inline-block;
    margin-right: 10px;
}

.mediaTab {
    margin: 2px 2px;
    padding: 5px 5px;
    cursor: pointer;
}

.mediaTab.active {
    background-color: #b5e8fc;
    border: 1px solid #005658;
}

.mediaSettings {
    margin-top: 20px;
}

#toolbox {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    width: 320px;
}

#mediaDisplay {
    border: 3px solid rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    overflow: hidden;
    overflow-y: scroll;
}

canvas,

#video {
    position: absolute;
}

div {
    padding: 3px 5px;
}

label {
    align-self: center;
}

#base_video_div {
    background-color: aquamarine;
    margin: 5px;
    bottom: 0;
    left: 0;
    position: absolute;
}

#base_video {
    width: 320px;
    height: 240px;
    display: block;
}

#mediaDisplay {
    height: 200px;
    background-color: lightgrey;
}

textarea{
    height: 16px;
    width: 48px;
}